## Importo las librerias

In [77]:
import pandas as pd
import numpy as np
import os

In [78]:
directorio = os.getcwd()

## Leo el CSV de IBA

In [79]:
df=pd.read_csv(f'{directorio}/iba_12_01_21.csv',

            sep=',',

            header=1,

            index_col=False)

In [80]:
df.isnull().sum()

time                                   0
AN2L_BG00_Arm1_GatePos                23
AN2L_BG00_Arm2_GatePos                23
BG_OS1BP_1PB                          23
BG_OS1BP_2PB                          23
Heat Number                           23
AN2E_RAM_HMI_SteelGrade               23
AN2L_YO00_LadleWeight_Net_CastPos     23
Tiempo_Apertura_1                     17
Tiempo_Apertura_2                     17
T_Apertura_1                          17
T_Apertura_2                          17
AN2L_BA00_RotDrive_Position           23
Indice                                 0
NumeroCucharaColando                  23
AN2L_BG09BD1A                         23
AN2L_BG09BD1B                         23
AN2L_BG09BD2A                         23
AN2L_BG09BD2B                         23
_AVG_Presion_B1_A                    161
_AVG_Presion_B1_B                    161
_AVG_Presion_B2_A                     59
_AVG_Presion_B2_B                     59
dtype: int64

In [81]:
limpio=df.interpolate() #Interpolo porque son cortes muy pequeños de la señal. Algun error en el archivo

In [82]:
limpio.isnull().sum()

time                                 0
AN2L_BG00_Arm1_GatePos               0
AN2L_BG00_Arm2_GatePos               0
BG_OS1BP_1PB                         0
BG_OS1BP_2PB                         0
Heat Number                          0
AN2E_RAM_HMI_SteelGrade              0
AN2L_YO00_LadleWeight_Net_CastPos    0
Tiempo_Apertura_1                    0
Tiempo_Apertura_2                    0
T_Apertura_1                         0
T_Apertura_2                         0
AN2L_BA00_RotDrive_Position          0
Indice                               0
NumeroCucharaColando                 0
AN2L_BG09BD1A                        0
AN2L_BG09BD1B                        0
AN2L_BG09BD2A                        0
AN2L_BG09BD2B                        0
_AVG_Presion_B1_A                    0
_AVG_Presion_B1_B                    0
_AVG_Presion_B2_A                    0
_AVG_Presion_B2_B                    0
dtype: int64

In [83]:
apertura=pd.DataFrame(limpio,columns=['Indice','NumeroCucharaColando','Heat Number','Tiempo_Apertura_1','Tiempo_Apertura_2','_AVG_Presion_B1_A','_AVG_Presion_B1_B','_AVG_Presion_B2_A','_AVG_Presion_B2_B'])

In [84]:
titulos = ['Indice','NumeroCucharaColando','nroColada','Tiempo_Apertura_1','Tiempo_Apertura_2','Cam_A_Arm1','Cam_B_Arm1','Cam_A_Arm2','Cam_B_Arm2']

In [85]:
apertura.columns = titulos

In [86]:
apertura[(apertura['Tiempo_Apertura_1']>0) | (apertura['Tiempo_Apertura_2']>0)]

,Indice,NumeroCucharaColando,nroColada,Tiempo_Apertura_1,Tiempo_Apertura_2,Cam_A_Arm1,Cam_B_Arm1,Cam_A_Arm2,Cam_B_Arm2
766,1,19.0,180185.0,3.315,0.0,2.533273,14.522636,0.0,0.0
767,1,19.0,180185.0,3.315,0.0,5.066545,29.045273,0.0,0.0
768,1,19.0,180185.0,3.315,0.0,7.599818,43.567909,0.0,0.0
769,1,19.0,180185.0,3.315,0.0,10.133091,58.090545,0.0,0.0
770,1,19.0,180185.0,3.315,0.0,12.666364,72.613182,0.0,0.0
...,...,...,...,...,...,...,...,...,...
846897,39,1.0,170215.0,3.315,0.0,14.557063,80.689375,0.0,0.0
846898,39,1.0,170215.0,3.315,0.0,17.468475,96.827250,0.0,0.0
846899,39,1.0,170215.0,3.315,0.0,20.379887,112.965125,0.0,0.0
846900,39,1.0,170215.0,3.315,0.0,23.291300,129.103000,0.0,0.0
846901,39,1.0,170215.0,3.315,0.0,23.291300,129.103000,0.0,0.0

In [87]:
apertura=apertura[(apertura['Tiempo_Apertura_1']>0) | (apertura['Tiempo_Apertura_2']>0)]

In [88]:
tabla_iba = apertura.pivot_table(values=['nroColada','Tiempo_Apertura_1','Tiempo_Apertura_2','Cam_A_Arm1','Cam_B_Arm1','Cam_A_Arm2','Cam_B_Arm2'],
                     index=['Indice'],
                     aggfunc={'nroColada': np.max,
                              'Tiempo_Apertura_1': np.max,
                              'Cam_A_Arm1': np.max,
                              'Cam_B_Arm1': np.max,           
                              'Tiempo_Apertura_2': np.max,
                              'Cam_A_Arm2': np.max,
                              'Cam_B_Arm2': np.max,                              
                             })

In [89]:
tabla_iba

,Cam_A_Arm1,Cam_A_Arm2,Cam_B_Arm1,Cam_B_Arm2,Tiempo_Apertura_1,Tiempo_Apertura_2,nroColada
Indice,,,,,,,
1,27.866000,0.000000,159.749000,0.000000,3.315,0.000,180185.0
2,0.000000,20.196600,0.000000,140.485714,0.000,2.975,170197.0
3,22.151400,0.000000,174.984000,0.000000,3.715,0.000,180186.0
4,0.000000,77.239300,0.000000,9.818040,0.000,3.005,170198.0
5,26.942700,0.000000,166.186000,0.000000,3.005,0.000,180187.0
6,0.000000,24.146500,0.000000,165.141000,0.000,2.995,170199.0
7,26.389900,0.000000,164.628000,0.000000,4.215,0.000,180188.0
8,0.000000,13.962800,0.000000,184.131000,0.000,4.095,170200.0
9,24.753300,0.000000,164.314000,0.000000,3.015,0.000,180189.0
10,0.000000,18.503187,0.000000,151.282250,0.000,3.215,180190.0
11,27.600400,0.000000,163.305000,0.000000,3.015,0.000,180191.0
12,0.000000,51.757700,0.000000,11.918200,0.000,2.805,170201.0
13,26.022700,0.000000,162.048000,0.000000,2.915,0.000,180192.0
14,0.000000,37.787600,0.000000,9.958220,0.000,3.785,170202.0
15,27.529400,0.000000,162.542000,0.000000,3.215,0.000,180193.0
16,0.000000,64.454600,0.000000,6.569970,0.000,2.885,170203.0
17,74.243000,0.000000,9.254710,0.000000,3.315,0.000,180194.0
18,0.000000,52.231200,0.000000,11.733000,0.000,3.015,170204.0
19,24.228100,0.000000,127.338000,0.000000,3.315,0.000,180195.0
20,0.000000,103.608000,0.000000,9.330790,0.000,2.845,170205.0
21,23.836137,0.000000,114.886625,0.000000,3.220,0.000,170206.0
22,0.000000,43.853200,0.000000,10.160600,0.000,3.035,180196.0
23,96.882600,0.000000,7.316080,0.000000,2.915,0.000,170207.0
24,0.000000,64.802800,0.000000,11.720100,0.000,2.995,180197.0
25,20.269462,0.000000,111.466250,0.000000,3.515,0.000,170208.0
26,0.000000,84.323700,0.000000,9.638660,0.000,3.495,180198.0
27,25.279400,0.000000,161.298000,0.000000,3.015,0.000,170209.0
28,0.000000,74.991600,0.000000,9.326730,0.000,2.615,180199.0
29,60.906600,0.000000,10.913300,0.000000,3.115,0.000,170210.0
30,0.000000,86.520100,0.000000,11.911300,0.000,2.985,180200.0
31,25.213475,0.000000,136.781750,0.000000,3.015,0.000,170211.0
32,0.000000,72.012400,0.000000,9.540640,0.000,4.015,180201.0
33,25.531900,0.000000,169.089000,0.000000,3.115,0.000,170212.0
34,0.000000,87.474300,0.000000,7.602980,0.000,2.715,180202.0
35,23.730300,0.000000,167.408000,0.000000,4.025,0.000,170213.0
36,0.000000,26.353500,0.000000,150.446000,0.000,2.805,180203.0
37,26.409600,0.000000,166.294000,0.000000,3.115,0.000,170214.0
38,0.000000,17.693400,0.000000,177.461000,0.000,3.420,180204.0
39,23.291300,0.000000,129.103000,0.000000,3.315,0.000,170215.0

In [90]:
a_tabla_iba=tabla_iba.to_numpy(dtype=np.float64)

### Desplazo un registro hacia arriba la columna del N° de colada

In [91]:
nroColada=[]

for i in range(1,len(a_tabla_iba-1)):
    nroColada.append(a_tabla_iba[i][6])

In [92]:
a_nroColada=np.asarray(nroColada)

In [93]:
a_tabla_iba=np.delete(a_tabla_iba,6,1) #elimino la columna del N°6 "nroColada" en el array "a_tabla_iba"

### Genero los 2 DF

In [94]:
colada=pd.DataFrame(nroColada,columns=['nroColada'])

In [95]:
tabla_iba=pd.DataFrame(a_tabla_iba,columns=['Cam_A_Arm1','Cam_A_Arm2','Cam_B_Arm1','Cam_B_Arm2','Tiempo_Apertura_1','Tiempo_Apertura_2'])

In [96]:
tabla_iba=pd.concat((tabla_iba,colada),axis=1)

In [97]:
tabla_iba.dropna(inplace=True) #Elimino el ultimo registro de la columna "nroColada" por ser NaN

# Leo el XLS de SIO

In [98]:
tabla_sio=pd.read_excel(f'{directorio}/sio_12_01_21.xlsx',sheet_name='Hoja1')

In [99]:
tabla_sio=pd.DataFrame(tabla_sio,columns=['nroColada','cuchara_nro'])

In [100]:
tabla_sio

    nroColada  cuchara_nro
0      170213           17
1      180202           19
2      170212            1
3      180201           20
4      170211           15
5      180200           12
6      170210           17
7      180199           19
8      170209            1
9      180198           20
10     170208           15
11     180197           12
12     170207            7
13     180196           19
14     170206            1
15     170205           20
16     180195           15
17     170204           12
18     180194            7
19     170203           19
20     180193            1
21     170202           20
22     180192           15
23     170201            7
24     180191           19
25     180190           20
26     180189            1
27     170200           15
28     180188            7
29     170199           19
30     180187           20
31     170198            1
32     180186           15
33     170197            7
34     180185           19
35     170196           20
36     180184            1
37     170195           15
38     170194            7

## Uno las Tablas

In [101]:
tabla_final = pd.merge(tabla_sio, tabla_iba, on='nroColada')

In [102]:
tabla_final

,nroColada,cuchara_nro,Cam_A_Arm1,Cam_A_Arm2,Cam_B_Arm1,Cam_B_Arm2,Tiempo_Apertura_1,Tiempo_Apertura_2
0,170213,17,0.000000,87.474300,0.000000,7.602980,0.000,2.715
1,180202,19,25.531900,0.000000,169.089000,0.000000,3.115,0.000
2,170212,1,0.000000,72.012400,0.000000,9.540640,0.000,4.015
3,180201,20,25.213475,0.000000,136.781750,0.000000,3.015,0.000
4,170211,15,0.000000,86.520100,0.000000,11.911300,0.000,2.985
5,180200,12,60.906600,0.000000,10.913300,0.000000,3.115,0.000
6,170210,17,0.000000,74.991600,0.000000,9.326730,0.000,2.615
7,180199,19,25.279400,0.000000,161.298000,0.000000,3.015,0.000
8,170209,1,0.000000,84.323700,0.000000,9.638660,0.000,3.495
9,180198,20,20.269462,0.000000,111.466250,0.000000,3.515,0.000
10,170208,15,0.000000,64.802800,0.000000,11.720100,0.000,2.995
11,180197,12,96.882600,0.000000,7.316080,0.000000,2.915,0.000
12,170207,7,0.000000,43.853200,0.000000,10.160600,0.000,3.035
13,180196,19,23.836137,0.000000,114.886625,0.000000,3.220,0.000
14,170206,1,0.000000,103.608000,0.000000,9.330790,0.000,2.845
15,170205,20,24.228100,0.000000,127.338000,0.000000,3.315,0.000
16,180195,15,0.000000,52.231200,0.000000,11.733000,0.000,3.015
17,170204,12,74.243000,0.000000,9.254710,0.000000,3.315,0.000
18,180194,7,0.000000,64.454600,0.000000,6.569970,0.000,2.885
19,170203,19,27.529400,0.000000,162.542000,0.000000,3.215,0.000
20,180193,1,0.000000,37.787600,0.000000,9.958220,0.000,3.785
21,170202,20,26.022700,0.000000,162.048000,0.000000,2.915,0.000
22,180192,15,0.000000,51.757700,0.000000,11.918200,0.000,2.805
23,170201,7,27.600400,0.000000,163.305000,0.000000,3.015,0.000
24,180191,19,0.000000,18.503187,0.000000,151.282250,0.000,3.215
25,180190,20,24.753300,0.000000,164.314000,0.000000,3.015,0.000
26,180189,1,0.000000,13.962800,0.000000,184.131000,0.000,4.095
27,170200,15,26.389900,0.000000,164.628000,0.000000,4.215,0.000
28,180188,7,0.000000,24.146500,0.000000,165.141000,0.000,2.995
29,170199,19,26.942700,0.000000,166.186000,0.000000,3.005,0.000
30,180187,20,0.000000,77.239300,0.000000,9.818040,0.000,3.005
31,170198,1,22.151400,0.000000,174.984000,0.000000,3.715,0.000
32,180186,15,0.000000,20.196600,0.000000,140.485714,0.000,2.975
33,170197,7,27.866000,0.000000,159.749000,0.000000,3.315,0.000

In [103]:
tabla_final.to_excel(f'{directorio}/Tiempos_12_01_21.xlsx')